  会員一覧ページ

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td>
        <%= link_to customer_path(customer) do %>
          <%= customer.name %>
        <% end %>
      </td>
      <td><%= customer.email %></td>
    </tr>
  <% end %>