<table class="table table-bordered">
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>
              <% if @customer.is_deleted == true %>
                <span class="text-danger">退会</span>
              <% else %>
              <span class="text-success">有効</span>
              <% end %>
            </td>
          </tr>
        </table>
                <%= link_to '退会する', public_path, class: "btn btn-danger col-sm-3", style: "margin: 20px;" %>