<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">本当に退会しますか？</h2>
      <h5 class="mt-3">
        退会するとこれまでの投稿内容が削除されます。<br>
        退会する場合は、「退会する」をクリックしてください。
      </h5>
      <%= link_to '退会しない', customer_path, class: "btn btn-primary col-sm-3", style: "margin: 20px;" %>
      <%= link_to '退会する', withdraw_path, method: :patch, class: "btn btn-danger col-sm-3", style: "margin: 20px;" %>
    </div>
  </div>
</div>