<table class='table table-striped text-center'>
  <thead>
    <tr>
      <th>名前</th>
      <th>レベル</th>
      <th>フォロー</th>
      <th>フォロワー</th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
    <tr>
      <td><%= link_to customer.name, customer, class: "customer_#{customer.id}" %></td>
      <td><%= customer.level %> Lv</td>
      <td><%= customer.followings.count %> 人</td>
      <td><%= customer.followers.count %> 人</td>
    </tr>
    <% end %>
  </tbody>
</table>