<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがCustomerの時 -->
  <% if @range == "会員" %>
    <%= render "public/relationships/follow_list", customers: @customers %>
  <% else %>
    <!--検索対象モデルがCustomerではない時 -->
    <%= render "public/ramens/ramens", ramens: @ramens %>
  <% end %>
</table>