<!--検索対象モデルがCustomerの時 -->
<% if @range == "会員" %>
  <div class="container mt-3">
    <h2>検索結果 <%= @customers.count %>件</h2>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-sm-10">
        <%= render "public/relationships/follow_list", customers: @customers %>
      </div>
    </div>
  </div>
<% else %>
  <!--検索対象モデルがCustomerではない時 -->
  <div class="container mt-3">
    <h2>検索結果 <%= @ramens.count %>件</h2>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-sm-10">
        <%= render "public/ramens/ramens", ramens: @ramens %>
      </div>
    </div>
  </div>
<% end %>
