<div class="container mt-3">
  <h2>会員一覧</h2>
  <table class="table table-striped text-center">
    <thred>
      <tr>
        <th>会員ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thred>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer) do %>
              <%= customer.name %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == true %>
              <span class="text-danger">退会</span>
            <% else %>
              <span class="text-success">有効</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>