  会員一覧ページ

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td>
        <%= link_to admin_customer_path(customer) do %>
          <%= customer.name %>
        <% end %>
      </td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted == true %>
          <span class="text-danger">退会</span>
        <% else %>
          <span class="text-success">有効</span>
        <% end %>
      </td>
    </tr>
  <% end %>